@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,200&display=swap');

:root {
  --main-txt-color: #16db34;
}

.hide {
 display: none;
}

.button {
  font-weight: 400;
  color: black;
  border-color: #222222;
  transition: border-bottom 0.1s 0s linear;
}

.button:hover {
  border-bottom: #555555 solid 7px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.wider-container {
  padding-left: 100px;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-image: url("../img/section_backgroud.jpg");
  border-radius: 2px;
  margin: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}


.card {
  color: rgb(250,250,250);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background: #fff;
  border-radius: 2px;
}

body {
  background-image: url("../img/background_2.jpg");
  background-blend-mode: lighten;
  background-color: rgba(100,100,100,0.90);
  font-size: 18px;
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}

.section {
  margin-top: 10rem;
  padding: 4rem 0 3rem;
  text-align: justify;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #FAFAFA;
}

.navbar-logo {
  margin-top: 0.5rem;
}

.navbar--logo--img {
  width: 20rem;
  height: 5rem;
  cursor: pointer;
}

.navbar--item {
  margin-top: 1rem;

}

.navbar--item--button {
  margin-left: 0.5rem;
}

.main-color {

}

.secondary-color {

}

.show-case {
  background-image: url("../img/section_backgroud.jpg");
  margin-top: 15rem;
}

.show-case--text {
  text-align: justify;
}

.info >.container > .row > .card {
  margin-top: -5rem;
  height: 18rem;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  background-image: url("../img/section_backgroud.jpg");
  text-align: left;
}

#uslugi {
  position: relative;
  top:8rem;
  padding: 2rem;
  border: 4px solid #c0c0c0;
  color: rgb(250,250,250);
}

.konsulting {
  background-image: url("../img/section_backgroud.jpg");
  margin-top: 10rem;
}
.konsulting--img {
  background-image: url("../img/konsulting.webp");
  background-size: cover;
  width:10rem;
  height: 20rem;
  border-radius: 5px;
}

#extend--button {
  font-weight: normal;
  margin-left: 3.75rem;
}

.bezpieczenstwo {
  margin-top: 5rem;
}

#bezpieczenstwo--title {
  color: rgb(250,250,250);
  margin-bottom: 5rem;
}

.bezpieczenstwo--item{
  background-image: url("../img/section_backgroud.jpg");
  padding: 4rem 2rem 2rem 2rem;
  width: 60%;
  border-radius: 5px;
  margin-top: 5rem;
  text-align: left;
}

.bezpieczenstwo--item::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  color: rgb(50,50,50);
  font-size: 60px;
  position: absolute;
  left: 24px;
  top: -55px;
}

.bezpieczenstwo--item--safe::before {
  content: "\f0c7";
}

.bezpieczenstwo--item--info::before {
  content: "\f13e";
}

.bezpieczenstwo--item--niejawne::before {
  content: "\f2bb";
}

.doradztwo {
  background-image: url("../img/section_backgroud.jpg");
}

.doradztwo--img {
  border-radius: 5px;
  height: 18rem;
}

.doradztwo--text {
  padding-top: 1.5rem;
}

.opracowania {
  margin-top: 0rem;
}

.opracowania--title {
  color: rgb(250,250,250);
}

.opracowania .card-5{
  text-align: left;
  padding-bottom: 0rem;
  height: 20rem;
}

.container-wider {
  max-width: 1200px;
}

.kontakt {
  background-image: url("../img/section_backgroud.jpg");
}

/*animations*/
.slide-right{-webkit-animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) forwards;animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) forwards}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 14:18:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-right{0%{-webkit-transform:translateX(-1080px);transform:translateX(-1080px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes slide-right{0%{-webkit-transform:translateX(-1080px);transform:translateX(-1080px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

.slide-left{-webkit-animation:slide-left 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-left 1s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 14:25:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-left{0%{-webkit-transform:translateX(1080px);transform:translateX(1080px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes slide-left{0%{-webkit-transform:translateX(1080px);transform:translateX(1080px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
